<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.daybreak">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Fullscreen">
        <activity
            android:name=".InnerExploreActivity"
            android:exported="false" />
        <activity
            android:name=".OnboardActivity"
            android:exported="false" />
        <activity
            android:name=".Timer.TimerActivity"
            android:exported="false" />
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ExploreRecycleritemActivity"
            android:exported="false" /> <!-- SPLASHSCREEN -->
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:fitsSystemWindows="true"
            android:theme="@style/Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:fitsSystemWindows="true"
            android:theme="@style/Fullscreen"
            android:windowLightStatusBar="true" /> <!-- MAIN ACTIVITY -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main2"
            android:theme="@style/Fullscreen" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>

</manifest>